.navbar {
    margin-bottom:0;
  }
.jumbotron {
    margin-bottom:0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top:50px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FFFFFF;
}

#content{
    margin-bottom:60px;
}

.panel-body{
  word-wrap:break-word;
}



/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}*/
