
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title> Arduino Projects example webpage </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/customstyles.css') }}" rel="stylesheet">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-header">
					<a class="navbar-brand" href="/"> Anton Hellbe </a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"> <a href="/">Hem</a></li>
				<li class="active"> <a href="/">Projekt</a></li>
				<li class="active"> <a href="/">Övrigt</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
					{% if g.user.is_authenticated  %}
					<li> <a href="{{ url_for('main.user', username = g.user.username) }}"><span class ="glyphicon glyphicon-user"></span> {{ g.user.username }} </a></li>
					<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					{% else %}
					<li><a href="/register/"><span class="glyphicon glyphicon-user"> </span> Sign Up </a></li>
					<li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
					{% endif %}
			</ul>
		</nav>
	</div>

<div class="border-row" style="width:100%; margin-bottom: 15px;"></div>

<div class=container>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    </div>

    {% endfor %}
  {% endif %}
{% endwith %}


{% block body %}
{% endblock %}

</div>

<footer class="footer">
	<div class="container">

		<div class="row">

			</div>

			<div class="col-md-6 col-sm-12 col-xs-12">
			<ul class="list-unstyled">
				<li><a class="black-text" href="https://www.hitta.se/anton+hellbe/malm%C3%B6/person/iVTRZsw-4v"> Anton Hellbe</a></li>
				<li><a class="black-text" > Krutmeijersgatan 16A </a></li>
				<li><a class="black-text"> Malmö, 21741 </a></li>

			</ul>

			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<ul class="list-unstyled">
				<li><a class="black-text" href="https://www.facebook.com/HEJHEJHEJHEJ"> Facebook </a></li>
				<li><a class="black-text" href="https://www.facebook.com/HEJHEJHEJHEJ"> Twitter </a></li>
				<li><a class="black-text" href="https://www.facebook.com/HEJHEJHEJHEJ"> Google </a></li>
				</ul>

			</div>
		</div>

	</div>
</footer>



<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script>
	// $(function() {
	// 	$('.container .nav.nav-tabs li').on('click', function() {
	// 		$('.container .nav.nav-tabs li.active').removeClass('active');
	// 		var panelToShow = $(this).attr('name');
	// 		$(this).addClass('active')
	//
	// 		$('.tab-content .tab-pane.active').slideUp(300, showNextPanel);
	//
	// 		function showNextPanel() {
	// 			$(this).removeClass('active');
	//
	// 			$('#' + panelToShow).slideDown(300, function() {
	// 				$(this).addClass('active');
	// 			});
	// 		}
	//

		// $('.tab-content')
		// 	console.log(panelToShow);
		//
		// 	//$('.container .nav nav-tabs li')
	// 	});
	// });

	$(function() {
		$('.container .nav.nav-tabs li').on('click', function() {
			var $panel = $(this).closest('.container');
			$panel.find('li.active').removeClass('active');
			$(this).addClass('active');
			var panelToShow = $(this).attr('name');

			$panel.find('.tab-pane.active').slideUp(300, showNextPanel);

			function showNextPanel() {
				$(this).removeClass('active');

				$('#' + panelToShow).slideDown(300, function() {
					$(this).addClass('active');
				});
			}


		// $('.tab-content')
		// 	console.log(panelToShow);
		//
		// 	//$('.container .nav nav-tabs li')
		});
	});
</script>

</body>














</html>
