{% extends "template.html" %}

{% block page_content %}

	<ul class ="nav nav-tabs">
		<!-- <a href="#234" data-toggle="tab"> -->
		<li role="presentation" class="active" name="panel1" data-toggle="tab"><a href="#">Home</a></li>
		<li role="presentation" name="panel2" data-toggle="tab"><a href="#">List of Projects</a></li>
		<li role="presentation" name="panel3" data-toggle="tab"><a href="#">Details</a></li>
		<li role ="presentation" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		Dropdown <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li>Something1 </li>
			<li>Something2 </li>
			<li>Something3 </li>
		</ul>
		</li>
</ul>





<div class="tab-content" id="tabs">
	<div class="tab-pane active" id="panel1" name="1"> <p><strong> HEJ! </p></strong></div>
	<div class="tab-pane" id="panel2" name="2">
		<table class = "table table-hover">
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Tags</th>
				<th>Submitted</th>
				<th>Author</th>
			</thead>
		<tbody>
			{% for project in projects %}
			<tr class>
				<td><a href= "{{ url_for('main.project', id = project.id) }}">{{ project.id }}</a></td>
				<td>{{ project.name }}</td>
				<td>{{ project.tags }}</td>
				<td><p> {{ moment(project.date).format('LL') }} </p></td>
				<td>{{ project.author.username }}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>

	</div>
	<div class="tab-pane" id="panel3" name="3"> Content3 </div>

</div>

	<div class="row">

		<div class="col-md-6">

		</div>


		<div class="col-md-6">


		</div>

	</div>


{% endblock %}

{% block footer %}<p><strong>Hello this is a footer</strong></p>{% endblock %}
