{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">

	<h4> Please Login</h4>


		<form method="post" action="/login/">
			<dl>
				{{ login_form.hidden_tag() }}
				{{wtf.form_field(login_form.username)}}
				{{wtf.form_field(login_form.password)}}
			</dl>
			<p><input class = "btn btn-primary" input type=submit value=Login></p>
		</form>
		{% if error %}
		<p class="error"><strong> {{ error }} </strong></p>
		{% endif %}



</div>

{% endblock %}
