{% extends "template.html" %}


{% block jumbotron %}

<div class="jumbotron">
	<div class="container">
		<h1>MAH - Labs and Assignments</h1>
	 	<p>This page is mainly created to learn Pythonflask and Bootstrap. But it might create some inspiration for other people to take up fun arduino projects. Enjoy!</p>
	  	<p><a class="btn btn-primary btn-lg" href="/dashboard/" role="button">Learn more</a></p>
	</div>
</div>

{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-4">
		<p> This is an example where accelerometer data is plotted with matlab </p>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/ihfdMLCnKEU"> </iframe>
		</div>
		<p><a class="btn btn-default" href="#" role="button" style="margin-top: 5px;">Learn More &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<p>Controlling a lift with arduino due and Matlab. How it works is explained in the video</p>
			<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/hWVskcvoCIk"> </iframe>
			</div>
			<p><a class="btn btn-default" href="#" role="button" style="margin-top: 5px;">Learn More &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<p>Opening a codelock with arduino due and Matlab. Code is programmable, how it works is explained in the video.</p>
			<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/6UJABRN455o"> </iframe>
		</div>
		<p><a class="btn btn-default" href="#" role="button" style="margin-top: 5px;">Learn More &raquo;</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p> This is an example where accelerometer data is plotted with matlab </p>
			<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/hWVskcvoCIk"> </iframe>
			</div>
			<p><a class="btn btn-default" href="#" role="button" style="margin-top: 5px;">Learn More &raquo;</a></p>
		</div>
	</div>


{% endblock %}







</html>
