{% extends "template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="col-md-8 col-md-offset-2" id="medContent">

<form method=post action="/dashboard/newproject" enctype="multipart/form-data">
  <dl>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.tags) }}
    {{ wtf.form_field(form.description) }}
    {{ wtf.form_field(form.links) }}
    {{ wtf.form_field(form.document)}}
  </dl>
  <p><input class="btn btn-primary" input type="submit" value="Submit project"></p>
</form>

</div>

{% endblock %}
