{% extends "template.html" %}

{% block page_content %}
<div class="col-md-8 col-md-offset-2" id="medContent">
<form>
	<fieldset disabled>
		<div class="form-group">
			<label for="disabledUsername"> Username </label>
			<input type="text" id="disabledUsername" class="form-control" placeholder="{{ user.username }}">
		</div>
		<div class="form-group">
			<label for="disabledEmail"> Email </label>
			<input type="text" id="disabledEmail" class="form-control" placeholder="{{ user.email }}">
		</div>
		<div class="form-group">
			<label for="disabledPassword"> Password </label>
			<input type="text" id="disabledPassword" class="form-control" placeholder = "&#9679;&#9679;&#9679;&#9679;&#9679;" >
		</div>
		<div class="form-group">
			<p><strong>Last logged in:</strong> {{ moment(user.last_logged_in).format('LLL') }} </p>
		</div>
	</fieldset>
	{% if user == current_user %}
		<a href="/edit" class="btn btn-primary" input type="submit"> Edit Profile </a>
	{% endif %}
</form>

</div>
{% endblock %}
